@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: black;
  color: white;
}

main{
  margin: 3.5rem;
  margin-bottom: 1.5rem;
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

/* header a{
  text-decoration: none;
} */

h1, h2, h3{
  font-family: 'Abril Fatface', cursive;
}

 #projects{
  scroll-margin-top: 70px;
}

/* footer and navbar link formating */
a:link{
  color: black;
}
a:visited{
  color:black;
}
a:focus{
  color: rgb(255, 255, 255);
}
a:hover{
  color: rgb(255, 255, 255);
}
a:active{
  color: rgb(108, 124, 131);
}


/* body link formating */
main a:link{
  color:rgb(108, 209, 216);
}
main a:visited{
  color:rgb(14, 136, 136);
}
main a:focus{
  color: rgb(255, 255, 255);
}
main a:hover{
  color: rgb(255, 255, 255);
}
main a:active{
  color:  rgb(245, 255, 255);
}
